<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Loginmapper">
	<select id="selectIdPwd" parameterType="pjh.UserIdPwd" resultType="pjh.ManagerInfo">
		select * from manager_info
		where manager_id = #{id} and manager_pwd = #{pwd}
	</select>
</mapper>